.button {
  color: white;
  background-color: $color-medium-grey;
  font-family: Roboto, sans-serif;
  font-size: 0.775rem;
  line-height: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.08929em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  padding: 0 12px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 32px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
