
.button-find-in-view {
  position: absolute;
  bottom: 4.5rem;
  right: 1rem;
  margin: 0 auto;
  font-size: .75rem;

  @media (max-width: 500px) {
    bottom: unset;
    top: 4rem;
    right: .5rem;
    z-index: 1000;
  }
}
