// @import "~@material/button/mixins";

.button-swap {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0 auto;
  font-size: .75rem;

  // @include mdc-button-container-fill-color($color-orange);
}
