.filters-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: #dedede;
  border-radius: 6px;

  .filters-close-button {
    position: absolute;
    top: .1rem;
    right: .75rem;
    font-size: 1.75rem;
  }
}

.update-button {
  margin: .25rem 0 .5rem 0;
  background-color: #4f7eff;

  &:hover {
    background-color: #658eff;
  }
}
