.map-container {
  position: relative;
  transition: .2s;
  width: 100%;
  
  .map { 
    height: 100vh;
    width: 100%;

    .mapboxgl-canvas {
      &:focus {
        outline: none;
      }
    }
  }
}
